/* LanguageSwitcher.css */
.dropdown-toggle:focus, .dropdown-toggle:hover {
    color: #333; /* Default text color */
    background-color: #ffffff; /* White background */
    border-color: #ccc; /* Light grey border */
  }
  
  .dropdown-menu {
    min-width: 160px; /* Adjust the width as necessary */
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-item {
    color: #333; /* Ensures text color consistency */
    padding: 0.5rem 1rem; /* Padding for better touch target size */
  }
  
  .dropdown-item:hover, .dropdown-item:focus {
    background-color: #f4f4f4; /* Light grey background on hover/focus */
  }
  