/* src/App.css */

.App {
  font-family: Arial, sans-serif;
  /* text-align: center; */ /* 注释或删除全局居中对齐 */
  padding: 0em;
}

section {
  padding: 4em 2em;
  text-align: left !important; /* 为每个 section 添加左对齐 */
  /* 设置最大宽度，保持内容不至于过宽 */
  margin: 0 auto; /* 将 section 居中，但内部内容左对齐 */
}

section:nth-of-type(even) {
  background-color: #f0f0f0;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

p {
  font-size: 1.2em;
  color: #555;
}

footer {
  padding: 2em 0;
  background-color: #333;
  color: #fff;
  text-align: center; /* 保持 footer 内容居中 */
}
